.wrapper{
    height: auto;
    width: auto;
    background-color: aqua;
}
.var-wrapper{
    background-color: antiquewhite;
}
h1{
    text-align: center;
}
li{
    font-size: 24px;
    font-family: 'Comic Sans MS', cursive;
}
li:hover{
    cursor: pointer;
}